#  Django
DJANGO_SECRET_KEY=<your secret key>
DEBUG=False
TIME_ZONE=UTC

#  here your domain, ex.: http://domain.com
DOMAIN=http://127.0.0.1:8000
API_PREF=api/v1
RANDOM_DREAMS_HOME=8

#  Email (local: MailHog,   for Docker: mailhog)
EMAIL_HOST=mailhog
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=no_reply@dreamhelper.com


# S3 storage (local: MinIO)
STORAGE_ACCESS_KEY=dreamsadmin
STORAGE_SECRET_KEY=dreamsadmin
        #  use without docker
STORAGE_HOST=http://localhost
#STORAGE_HOST=http://minio     #  use with  docker kogda vse services in one app_net
STORAGE_PORT=9000
BUCKET_NAME=dreams-media
RESIZE_PHOTO_DREAM=300

# Stripe
STRIPE_SECRET_KEY=<your sk_key>
STRIPE_PUBLISHABLE_KEY=<your pk_key>
STRIPE_WEBHOOK_SECRET=<your whsec>