<html lang="">
<head>
  <title>✨ Your Dream Has Been Added to DreamsHelper!</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
<div style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 20px; max-width: 480px; margin: 40px auto; background-color: #ffffff; color: #333333;">
  <h2 style="color: #4CAF50; text-align: center; margin: 0 0 20px; font-size: 24px; font-weight: bold;">
    <strong id="email" style="color: #4CAF50;"> Hello, {{ owner }}!</strong>, <br>

  </h2>

  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
    Congratulations! <br>
    🎉 Your dream **"{{ application }}"** has been successfully added to DreamsHelper. <br>
    We're excited to help bring it to life! <br><br>

  </p>

    <p style="margin: 20px 0; text-align: center;">

<!--    </a>-->
<!--      <img src="http://localhost:9000/dreams-media/dreams/6-819841f7-5e3c-443d-8993-58659516fd83-zoo.jfif" alt="">-->
<!--      <img src="http://localhost:9000/dreams-media/mini-dreams/6-819841f7-5e3c-443d-8993-58659516fd83-zoo.jfif" alt="">-->

  </p>

  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
    🔹 **What Happens Next?** <br>
    Your dream request has been received. Once it is approved by our moderator, it will be featured on the active Dreams page, where people can support it. You will receive a notification as soon as it’s live!
    <br><br>
    💖 **Making Dreams Come True** <br>
    Every dream starts with a vision—and now yours is one step closer to reality. Stay hopeful and keep believing!

  </p>
  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">

  </p>
  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
    If you need any help or have questions, our support team is always here for you.

  </p>

  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px; color: #666666;">
  </p>
  <p style="margin: 20px 0 10px; line-height: 1.6; font-size: 16px;">
  </p>
  <p style="margin: 0; font-style: italic; font-size: 16px; color: #4CAF50;">
    With excitement, <br>
    **The DreamsHelper Team**
  </p>
</div>
</body>
</html>