<html lang="">
<head>
  <title>The Dream Has Come True!</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
<div style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 20px; max-width: 480px; margin: 40px auto; background-color: #ffffff; color: #333333;">
  <h2 style="color: #4CAF50; text-align: center; margin: 0 0 20px; font-size: 24px; font-weight: bold;">
    <strong id="email" style="color: #4CAF50;"> Hello, {{ owner }}!</strong>, <br>

  </h2>

  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
      We have incredible news to share! <br>
      🎉 The dream **"{{ dream }}"** has successfully reached its goal!
 <br>
    💖 **What This Means?** <br>
    The $ {{ amount }} funds have been raised and this dream will soon become a reality.

  </p>
  <p style="margin: 20px 0; text-align: center;">
    <a href="{{ dream_link }}" id="link" style="display: inline-block; background-color: #4CAF50; color: #ffffff;
            text-decoration: none; font-size: 16px; padding: 10px 20px; border-radius: 4px;">
      See Dream
    </a>

  </p>

  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
     ✨ **Stay Inspired!** <br>
      Keep an eye on DreamsHelper—more dreams are being born every day, and every contribution brings us closer to making them a reality.
  </p>

  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
    📜 **Next Steps** <br>
    We are currently preparing all the necessary measures to ensure that the support reaches the dreamer.
    After that, you will receive a final **report with updates, photos and details** about the dream.
  </p>
  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
      ✨ **You Made a Difference**<br>
    DreamsHelper exists because of people like you - those who believe in the magic of making a dream come true. And those people who are ready to support chiu to dream!
      <br>
    Thank you for being a part of this journey!

  </p>
<!--    <img src="http://localhost:9000/dreams-media/avatars/7-7726f992-5f87-4b7a-854e-6e8bf4af5676-foto.jpg" alt="">-->
<!--    <img src="http://localhost:9000/dreams-media/mini-avatars/7-7726f992-5f87-4b7a-854e-6e8bf4af5676-foto.jpg" alt="">-->


  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px; color: #666666;">
  </p>
  <p style="margin: 20px 0 10px; line-height: 1.6; font-size: 16px;">
  </p>
  <p style="margin: 0; font-style: italic; font-size: 16px; color: #4CAF50;">
    Stay inspired, <br>
    **The DreamsHelper Team**
  </p>
</div>
</body>
</html>