.dreamDetails {
  padding: 52px 20px 20px;
  color: #191919;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  border: 1px solid #191919;
  padding: 24px;
  border-radius: 34px;
  background-color: #FFFFFF;
}

.dreamImageStyled {
  max-width: 700px;
  max-height: 450px;
  border-radius: 24px;
  flex-shrink: 0;
}



// InfoCard

.infoCard {
  padding: 19px;
  flex-grow: 1;
}

.infoCard p {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 16x;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.status {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  margin-left: auto;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  color: black;
}

.statIcon {
  width: 16px;
  height: 16px;
}

// .topRow p {
//   flex-grow: 1;
// }

.topRow p {
  flex: 0 1 auto;
}


.statValue {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 14px;
  color: #464646;
}

.dreamTitle {
  font-size: 32px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 24px;
}

.cardLabel {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 16px;
  text-align: left;
  width: 170px;
}

.cardValue {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: left;
   flex-grow: 1;
}

.amountRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.amountItem {
  display: flex;
  flex-direction: column;
}

.amountLabel {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.amountValue {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.sidebar {
  margin-top: 50px;
}

.progressBar {
  height: 6px;
  background: #FFFFFF;
  margin: 56px 0 16px;
  border: 1px solid #191919;
  border-radius: 24px;
}

.progressFill {
  height: 100%;
  background: #FFCC74;
  width: 0;
  transition: width 0.3s ease;
}

.dream-card-link {
  flex: 1;
  display: flex;
  flex-direction: column;
}


// Description

.detailsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: nowrap;
}

.descriptionContainer {
  padding: 20px 20px 68px 0;
  max-width: 650px;
}

.desTitle {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 16px;
}

.desContent {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #464646;
  line-height: 25px;
}



// Donors
.donorsContainer {
  background-color: white;
  border-radius: 24px;
  max-width: 490px;
}

.donorsTitle {
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  color: #191919;
  border: 1px solid #191919;
  padding: 10px 0;
  border-radius: 24px 24px 0 0;
  border-bottom: none;
  }

  .donorsTable {
  display: flex;
  flex-direction: column;
  border: 1px solid #191919;
  border-radius: 0 0 24px 24px;
}

.donorRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #464646;

  &:last-child {
  border-bottom: none;
}
}

.donorInfo {
  display: flex;
  align-items: center;
  gap: 8.5px;
  flex: 0 0 120px;
  // flex: 1;
  margin-left: 16px;
}

.donorAvatar {
  width: 40px;
  height: 40px;
  border-radius: 64px;
  overflow: hidden;
  margin: 10px 16px 10xp 0;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.donorName {
  color: #191919;
  font-size: 17px;
  font-weight: 500;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.donorAmount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  flex: 0.4;
  white-space: nowrap;
  padding: 0 7px;
  border-left: 1px solid #464646;
  border-right: 1px solid #464646;
}

.donorDate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  flex: 0.5;
  white-space: nowrap;
}

.dLabel {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #464646;
  font-weight: 400;
  margin: 0 7px 0 5px;
}

.dValue {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #191919;
  margin-right: 15px;
}


// Support button
.dButton {
  background-color: #191919;
  color: #FFFFFF;
  padding: 13px 0;
  border-radius: 63px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}





// .supportButton {
//   background-color: #007bff;
//   color: white;
//   border: none;
//   border-radius: 4px;
//   padding: 10px 16px;
//   margin-top: 15px;
//   cursor: pointer;
//   width: 100%;
//   font-size: 1rem;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: #0056b3;
//   }
// }




@media (max-width: 768px) {
  .detailsWrapper {
    flex-direction: column;
  }

  .descriptionContainer,
  .sidebar {
    max-width: 100%;
  }
}











