.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  border-radius: 20px;
  padding: 32px 24px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

.modal-content form {
  text-align: left;
}

.modal-content label {
  font-size: 14px;
}

.modal-content input {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 12px 40px 12px 16px;
  margin: 0.5rem 0 1rem;
  border-radius: 999px;
  border: 1px solid #191919;
  font-size: 16px;
  height: 48px;
  box-sizing: border-box;
}

// .modal-content input {
//   font-family: "Inter", sans-serif;
//   width: 100%;
//   padding: 0.75rem;
//   margin: 0.5rem 0 1rem;
//   border-radius: 999px;
//   border: 1px solid #191919;
//   font-size: 16px;
//   height: 48px;
// }

.forgot-password-text {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #847C7C;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.signup-btn {
  width: 100%;
  padding: 0.75rem;
  background: #191919;
  color: #FFFFFF;
  border: none;
  border-radius: 63px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 500;
}

.login-link {
  text-align: center;
  margin-top: 32px;
  font-size: 17px;
  font-weight: 500;
  a {
    text-decoration: underline;
    color: #111111;
  }
}

.activation-message p {
  margin: 0;
}


.activation-message {
  padding: 15px;
  background-color: #f0f8ff;
  border-radius: 8px;
  color: black;
  font-size: 26px;
  text-align: center;
  margin-top: 18px;
  border: 1px solid #ccc;
  line-height: normal;

  &.success {
    background-color: #f0f8ff;
     color: black;
  }

  &.error {
    background-color: #ffe6e6;
    color: #d32f2f;
  }
}



// Log out
.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profileContainer button {
  font-size: 25px;
    padding: 20px;
}


// Username
.profile-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-link {
  font-weight: bold;
}

.username-display {
  font-size: 20px;
  color: black;
  margin-top: 2px;
}


// Eyes
.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-icon:hover {
  opacity: 1;
}

