* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  background-image: url('/public/img/home-page/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
