* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

.home-page {
  background-image: url('/public/home-page/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.dream-page {
  background-image: url('/public/dreams-page/background-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
