.hero {
  position: relative;
  padding: 40px 20px 20px;
  overflow: hidden;
  color: #191919;

  &-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    max-width: 500px;
    margin-right: 20px;
  }
}

.hero2 {
  padding-top: 50px;
}

.dreams-title1 {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 16px;
  line-height: 1.2;
}

.dreams-text1 {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #464646;
}

.dreamshero-image {
  max-width: 550px;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .hero-container {
    padding-top: 20px;
  }

  .dreams-title1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .dreams-text1 {
    font-size: 21px;
  }

  .dreamshero-image {
    max-width: 500px;
  }
}



@media (max-width: 767px) {
  .hero2 {
    padding-top: 30px;
  }

  .hero-text {
    max-width: 250px;
    font-family: "Reddit Sans Condensed", sans-serif;
  }

  .dreams-title1 {
    margin-bottom: 10px;
  }

  div.hero-content {
    margin: 0;
    width: 350px;
  }

  .dreamshero-image img {
    max-width: 300px;
    max-height: 300px;
  }

  .hero-container {
    padding-top: 20px;
    padding-left: 0;
  }
}

